<nav
  class="navbar navbar-expand-lg navbar-light bg-primary navbar-dark bg-dark"
>
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="interpolation">Interpolation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="dataBinding">DataBinding</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="directive">Directive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="userLists">UserLists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="lifeCycleHooks">LifeCycleHooks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register">Register</a>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Dropdown link
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" routerLink="mouseEvents">MouseEvents</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="dragEvents">dragEvents</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="styleCSS">StyleCSS</a>
          </li>
          <li><a class="dropdown-item" routerLink="dataType">DataTypes</a></li>
          <li>
            <a class="dropdown-item" routerLink="getSetInput">GetSetInput</a>
          </li>
          <li><a class="dropdown-item" routerLink="signals">Signals</a></li>
          <li><a class="dropdown-item" routerLink="pipes">Pipes</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="sessionTutorial">SessionTutorial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="crud">Crud</a>
      </li>

    </ul>
  </div>
</nav>
